<form class="form-inline">
  <form class="d-flex mb-3">
    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
</form>
<table class="table table-striped">
  <thead class="table table-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()">
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img *ngIf="mostrarImagem"
          src="http://localhost:5000/img/{{evento.imagemURL}}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.data}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <td colspan="7" class="text-center">
      <h4>Nenhum evento encontrado!</h4>
    </td>
  </tfoot>
</table>